<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        name="nome"
        [(ngModel)]="usuario.nome"
        required
        #nome="ngModel"
        [class.is-invalid]="!nome.valid && nome.touched"
      />
      <div *ngIf="!nome.valid && nome.touched">
        <div class="alert alert-danger" role="alert">O nome é obrigatório</div>
      </div>
    </div>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      [(ngModel)]="usuario.email"
      required
      #email="ngModel"
      [class.is-invalid]="!email.valid && email.touched"
    />
    <div *ngIf="!email.valid && email.touched">
      <div class="alert alert-danger" role="alert">Email inválido</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
    Submit
  </button>
</form>
