<div class="corpo">
  <ul nz-menu>
    <li nz-menu-item routerLinkActive="active"><a routerLink="">Home</a></li>
    <li nz-menu-item routerLinkActive="active">
      <a routerLink="/login">Login</a>
    </li>
    <li nz-menu-item routerLinkActive="active">
      <a routerLink="/cursos">Cursos</a>
    </li>
    <li nz-menu-item routerLinkActive="active">
      <a [routerLink]="'/curso/' + idCurso.value">Curso com id</a>
    </li>
  </ul>
  <div>
    <p>Entre com o id do curso</p>
    <input type="text" #idCurso />
    <router-outlet></router-outlet>
  </div>
</div>
