<p appFundoAmarelo>texto com fundo amarelo</p>
<button appFundoAmarelo>Botao com fundo amarelo.</button>
<p appHightlightMouse>Texto com highlight quando passo o mouse.</p>

<!-- <p appHighlight [defaultColor]="'grey'" highlightColor="red">
  Texto com highlight com cores costumizadas.
</p> -->

<p appHighlight="red" [defaultColor]="'grey'">
  Texto com highlight com cores custumizadas.
</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos; else naoMostrar">
  Lista de cursos aqui:{{ cursos }}
</div>

<ng-template #naoMostrar>
  <div>Não existem cursos para serem listados.</div>
</ng-template>

<br />
<button (click)="OnmostrarCursos()">{{ BrincksMinha }}cursos</button>
<br />

<div *ngIf="mostrarCursos; else naoMostrar">
  Lista de cursos aqui:{{ cursos }}
</div>

<ng-template #naoMostrar>
  <div>Não existem cursos para serem listados.</div>
</ng-template>
