<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-exemplo-ngcontent>
  Conteudo passado pelo ng content
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ngcontent> -->

<app-exemplo-ngcontent>
  <div class="titulo">Titulo do Card</div>
  <div class="corpo">
    <app-operador-elvis></app-operador-elvis>
  </div>
  <div class="corpo">
    <app-operador-elvis></app-operador-elvis>2
  </div>
</app-exemplo-ngcontent>
