<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input
        #campoInput2
        type="text"
        [value]="nome"
        (input)="nome = campoInput2.value"
      />

      <input
        #campoInput3
        type="text"
        [(ngModel)]="nome"
        (ngModelChange)="nome = campoInput3.value"
      />

      <p>Você digitou: {{ nome }}</p>
    </div>

    <div>
      <p>
        Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade
      </p>

      <input type="text" [(ngModel)]="pessoa.nome" />
      <input type="number" [(ngModel)]="pessoa.idade" />
    </div>
  </article>
</section>
